/*Generales*/

html {
   scroll-behavior: smooth;
   
   overflow: auto;
   margin: auto;
}/* sirve para la velocidad de scroleo*/

* {
   margin: 0;
     
}

body{
   /*font-family: 'Bangers', cursive;*/
   font-family: 'Acme', sans-serif;
   /*font-family: 'Margarine', cursive;*/
   font-size: 20px;
   clear: both;  
}

main {
   margin-bottom: 4px;
   padding-bottom: 45px;
   padding-top: 75px;
   clear: both;
}

h1{  
    /*font-family: 'Margarine', cursive;
    font-family: 'Acme', sans-serif;*/
    font-family: 'Bangers', cursive;
    /*font-family: 'Carter One', cursive;
    font-family: 'Seymour One', sans-serif;
    font-family: 'Goblin One', cursive;*/
    font-size: 55px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    padding: 40px;
    color: rgb(255, 215, 0);    
}
h2 {
   text-align: center;   
   font-size: 50px;
   padding: 35px;
   padding-left: 50px;
   padding-bottom: 40px;
   color: rgb(248, 48, 48);
   font-family: 'Bangers', cursive;
   text-shadow: 2px 2px 5px black;

}
h3 {
   color: rgb(114, 37, 37);
   text-align: center;
   text-shadow: 2px 2px 5px black;
   font-size: 35px;
   font-family: 'Trade Winds', cursive;
}
.fondo {
   background-image: url("../img/fondonuevo2.jpg");   
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   margin-top: -10px;
   margin-bottom: -30px;
   padding-right: 30px;
}

/*Fin generales*/



/*Header*/

header a img {
   padding-left: 30px;
}
header {
   padding: 20px;   
   background-image: url("../iconos/blackbottom2.png");   
   background-size: 100%;
   background-repeat: no-repeat;     
   position: fixed;
   width: 100%;
   z-index: 8;
   /*min-width: 1200px;
   max-width: 1300px;*/     
}
.logoheader {
   padding-bottom: 10px;
}
.seleccion {
   font-size: 33px;
   color: rgb(255, 215, 0);
   text-decoration: none;
}
header nav ul li :hover {   
   color: rgb(230, 7, 7);
   text-decoration: none;
}
header nav ul li a {
   color: white;   
   text-decoration: none;
   text-shadow: 2px 2px 5px black;
   font-family: 'Bangers', cursive;
   font-size: 27px;
   margin-right: 10px; 
}
header nav ul li {
   display: inline-block;   
   position: relative;   
}
header nav {
   float: right;
   margin-top: 30px;
   margin-right: 30px;
   position: relative;
}
/*Fin Header*/



/*Inicio*/

.fondopro {
   background-image: url("../iconos/shabby-paper-3350613_960_720.png");
   background-position: left;
   background-attachment: scroll;
   background-repeat: no-repeat;
   background-size: 600px;     
   height: 550px;
   margin-top: 20px;
   padding-bottom: 40px;   
}
.fondopro ul {
   font-family: 'Permanent Marker', cursive;
   text-align: center;
   color: rgb(37, 35, 158);
   font-size: 22px;
   width: 380px;
   padding-left: 130px;       
}
.tituloprox {
   text-align: left;
   color: rgb(255, 215, 0);
   padding-left: 100px;
   animation-name: resaltar_titulo;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
.flexdeprox{
   display: flex;
   justify-content: space-around;   
}
.fotoluna {
   padding-top: 100px;
}
.integ {
   display: flex;
   justify-content: space-around;
   padding: 30px;
   font-family: 'Bangers', cursive;
   color: rgb(248, 48, 48);
   text-shadow: 2px 2px 5px black;
   text-align: center;
   font-size: 30px;
}
.integ2 {
   display: flex;
   justify-content: space-around;
   padding: 20px;
   font-family: 'Bangers', cursive;
   color: rgb(248, 48, 48);
   text-shadow: 2px 2px 5px black;
   text-align: center;
   font-size: 30px;
}


/*Historia*/
.historia {
   padding-right: 20%;
   padding-left: 20%;
   padding-top: 10px;
   width: 60%;
}
.parrafo {
   font-family: 'IBM Plex Mono', monospace;
   width: 80%;
   text-align: left;
   text-justify: auto;  
   padding: 20px;
   margin-left: 80px;
   color: rgb(226, 98, 102);
   
}
/*Fin historia*/


/* discodrgafia*/

#contenedor {
   padding-bottom: 10px;
   width: 100%;
   overflow: auto;
}
.subir {    
   color: rgb(255, 215, 0);   
   display: inline-block;   
   background: rgb(67, 67, 83);
   position: fixed;
   right: 33%;   
   top:600px;   
   z-index: 7;
   border-radius: 20px;   
}
main div ul li a {  
   opacity: 0.5;
   filter: grayscale(1);   
   padding: 10px; 
}
main div ul li a:hover {
   opacity: 0.8;
   filter: grayscale(0);    
}
main div ul {   
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;
   align-content: space-around;   
}
main .miniatura ul li {
   list-style: none;
   padding-top: 30px;  
}
#pecados {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-evenly;
   align-content: space-around;
}
#vivounico {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-evenly;
   align-content: space-around;   
}
#historias {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-evenly;
   align-content: space-around;
}
#vivogloria {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-evenly;
   align-content: space-around;
}
#atrapando {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-evenly;
   align-content: space-around;
}
#culpable {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-evenly;
   align-content: space-around;   
}
#descartando {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-evenly;
   align-content: space-around;
}
#solo {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-evenly;
   align-content: space-around;
}

div ol li {
   text-align: center;
   color: rgb(219, 43, 48);
   text-shadow: 2px 2px 5px black;
   display: flex;
   flex-flow: column wrap;   
}

/* fin discodrgafia*/


/*Fotos y videos*/

.calavera {
   padding-left: 45%;
   padding-top: 30px;
}
.fotosant ul {
   display: flex;
   flex-flow: wrap;
   justify-content: space-evenly;
}
.fotosant ul li {
   padding: 10px;
   padding-top: 20px;
   opacity: 0.5;
   list-style: none;
   align-items: center; 
}
.fotosant ul li:hover {
   opacity: 1;
}
.videos ul {
   display: flex;
   flex-flow: wrap;
   justify-content: space-evenly;
}

/*fin fotos y videos*/


/* Contacto*/

.fcont {
   font-size: 30px;
   color: rgb(248, 48, 48);
   font-family: 'Bangers', cursive;
   display: block;   
   padding-top: 18px;
   text-shadow: 2px 2px 5px black;
}
.formulario {
   padding-bottom: 50px;
}
main form {
   display: block;
   padding-left: 40%;
}

/*Fin Contacto*/


/*Footer*/

footer {
   background-image: url("../iconos/blacktop2.png");   
   background-size: 100%;
   background-repeat: no-repeat;
   width: 100%;
   position: relative;    
   z-index: 5;
   min-width: 1000px;
   overflow: auto;   
}

footer nav ul li {
   list-style: none;
   display: inline-block;
   margin: 8px;
   z-index: 3;
   padding-right: 25px;   
}

footer nav {
   float: right;
   padding-right: 1%;
   clear: both;
   padding-top: 30px;
}
.logofooter {
   animation-name: girar_logo;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   padding-top: 30px;
}

@keyframes girar_logo {
   0% {
      transform: rotateY(0deg);
      
   }
   20% {
      transform: rotateY(72deg);
   }
   40% {
      transform: rotateY(144deg);
   }
   60% {
      transform: rotateY(216deg);
      filter: grayscale(1); 
   }
   80% {
      transform: rotateY(288deg);
      filter: grayscale(1);      
   }   
   100% {
      transform: rotateY(360deg);         
   }
}
@keyframes resaltar_titulo {
   0% {
      text-shadow: 2px 2px 5px black;
   }   
  
   50% {
      text-shadow: 10px 10px 15px rgb(245, 13, 13);
   }
    
   100% {
      text-shadow: 2px 2px 5px black;     
   } 
}
/*Fin Footer*/

/*@media screen and (max-width: 768px) {
   header {
      display: flex;
      flex-direction: column;      
      background: black;
      background-size: 0;     
   }
   footer {
      display: flex;
      flex-direction: row;
      background: black;
      background-size: 0; 
   }
   footer ul {
      justify-items: flex-end;
   }
  
   }
   .logofooter {
      width: 130px;
      height: 40px;
      position: relative;
   }

   .fondo {
      width: 768px;
   }
   .fondopro {
      margin-top: 200px;
   }  
      
   .menu {
      display: flex;
      flex-direction: column;
   }  
      
   .flexdeprox {
      flex-direction: column;
      flex-flow: wrap; 
      
   }
   .integ {
      flex-direction: column;
      flex-flow: wrap; 
   }
   .integ2 {
      flex-direction: column;
      flex-flow: wrap; 
   }

}*/