/*Generales*/

html {
   scroll-behavior: smooth;
   min-width: 1250px;
   overflow: auto;
   margin: auto;
}/* sirve para la velocidad de scroleo*/

* {
   margin: 0;   
}

body{
   /*font-family: 'Bangers', cursive;*/
   font-family: 'Acme', sans-serif;
   /*font-family: 'Margarine', cursive;*/
   font-size: 20px;
   clear: both;  
}

main {
   margin-bottom: 14px;
   padding-bottom: 45px;
}

h1{  
    /*font-family: 'Margarine', cursive;
    font-family: 'Acme', sans-serif;*/
    font-family: 'Bangers', cursive;
    /*font-family: 'Carter One', cursive;
    font-family: 'Seymour One', sans-serif;
    font-family: 'Goblin One', cursive;*/
    font-size: 55px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    padding: 40px;
    color: rgb(255, 215, 0);    
}
h2 {
   text-align: center;   
   font-size: 50px;
   padding: 35px;
   padding-left: 50px;
   padding-bottom: 40px;
   color: rgb(255, 127, 80);
   font-family: 'Bangers', cursive;
   text-shadow: 2px 2px 5px black;

}
h3 {
   color: rgb(255, 127, 80);
   text-align: center;
   text-shadow: 2px 2px 5px black;
}
.fondo {
   background-image: url("../img/fondonuevo2.jpg");   
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   margin-top: -40px;
   margin-bottom: 0;  
}

/*Fin generales*/



/*Header*/

.bordeheader {
   position: sticky;
   top: 27px;
   z-index: 4;
   margin-top: 0px;   
}
header a img {
   padding-left: 30px;
}
header {
   padding: 5px;   
   /*background-image: url("../img/header4.jpg");   
   background-size: 100%;
   background-attachment: scroll; 
   background-position: center;*/
   background: black; 
   position: sticky;
   top: -67px;
   z-index: 3;
   min-width: 1000px;
   overflow: auto;  
}
.logoheader {
   padding-bottom: 10px;
}
.seleccion {
   font-size: 33px;
   color: rgb(255, 215, 0);
   text-decoration: none;
}
header nav ul li :hover {   
   color: rgb(255, 127, 80);
   text-decoration: none;
}
header nav ul li a {
   color: white;   
   text-decoration: none;
   text-shadow: 2px 2px 5px black;
   font-family: 'Bangers', cursive;
   font-size: 27px;
   margin-right: 20px; 
}
header nav ul li {
   display: inline-block;
   margin-right: 6px;
   position: relative;   
}
header nav {
   float: right;
   margin-top: 60px;
}
/*Fin Header*/



/*Inicio*/

.fondopro {
   background-image: url("../iconos/shabby-paper-3350613_960_720.png");
   background-position: left;
   background-attachment: scroll;
   background-repeat: no-repeat;
   background-size: 45%;     
   height: 550px;
}
.fondopro ul {
   font-family: 'Permanent Marker', cursive;
   text-align: center;
   color: rgb(37, 35, 158);
   font-size: 22px;
   width: 350px;
   padding-left: 150px;       
}
.tituloprox {
   text-align: left;
   color: rgb(255, 215, 0);
   padding-left: 150px;
}

/*Historia*/
.historia {
   padding-right: 20%;
   padding-left: 20%;
   padding-top: 3%;
   width: 60%;
}
.parrafo {
   font-family: 'IBM Plex Mono', monospace;
   width: 80%;   
   padding: 20px;
   color: rgb(226, 98, 102);
   
}
/*Fin historia*/


/* discodrgafia*/

#contenedor {
   padding-bottom: 50px;
   width: 100%;
   overflow: auto;
}

.subir {    
   color: rgb(255, 215, 0);   
   display: inline-block;   
   background: rgb(67, 67, 83);
   position: fixed;
   right: 33%;   
   top:600px;   
   z-index: 7;
   border-radius: 20px;   
}
main div ul li a {  
   opacity: 0.5;
   filter: grayscale(1);   
   padding: 10px; 
}
main div ul li a:hover {
   opacity: 0.8;
   filter: grayscale(0);    
}

main div ul {   
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;
   align-content: space-around;  
}
main div ul li {
   list-style: none;
}

#pecados {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;
   align-content: space-around;
}
#vivounico {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;
   align-content: space-around;   
}
#historias {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;
   align-content: space-around;
}
#vivogloria {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;
   align-content: space-around;
}
#atrapando {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;
   align-content: space-around;
}
#culpable {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;
   align-content: space-around;   
}
#descartando {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;
   align-content: space-around;
}
#solo {
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-around;
   align-content: space-around;
}

div ol li {
   text-align: center;
   color: rgb(219, 43, 48);
   text-shadow: 2px 2px 5px black;
   display: flex;
   flex-flow: column wrap;   
}

/* fin discodrgafia*/


/*Fotos y videos*/

.calavera {
   padding-left: 47.5%;
   padding-top: 30px;
}
.fotosant ul {
   display: flex;
   flex-flow: wrap;
   justify-content: space-evenly;
}
.fotosant ul li {
   padding: 10px;
   opacity: 0.5;  
}
.fotosant ul li:hover {
   opacity: 1;
}


/*fin fotos y videos*/


/* Contacto*/

.fcont {
   font-size: 30px;
   color: rgb(255, 127, 80);
   font-family: 'Bangers', cursive;
   display: block;   
   padding-top: 18px;
   text-shadow: 2px 2px 5px black;
}
.formulario {
   padding-bottom: 50px;
}
main form {
   display: block;
   padding-left: 40%;
}

/*Fin Contacto*/



/*Footer*/
.bordefooter {   
   position: absolute;
   z-index: 4;
   margin-top: -40px;
   min-width: 1200px;
   overflow: auto;   
}
footer {
   /*background-image: url("../img/header.jpg");*/
   background-color: black;
   padding: 5px 15px 5px 0px;
   background-size: 100%;
   background-attachment: fixed;    
   bottom: 0px;
   z-index: 3;
   min-width: 1000px;
   overflow: auto;   
   border: 0px;
}

footer nav ul li {
   list-style: none;
   display: inline-block;
   margin: 8px;
   z-index: 3;
   padding-right: 25px;
}

footer nav {
   float: right;
   padding-right: 1%;
}
.logofooter {
   animation-name: girar_logo;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes girar_logo {
   0% {
      transform: rotateY(0deg);
      filter: grayscale(1);
   }
   20% {
      transform: rotateY(72deg);
   }
   40% {
      transform: rotateY(144deg);
   }
   60% {
      transform: rotateY(216deg);
      filter: grayscale(1); 
   }
   80% {
      transform: rotateY(288deg);
      filter: grayscale(1);      
   }   
   100% {
      transform: rotateY(360deg);      
   }
}
/*Fin Footer*/